* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: beige;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 75%;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.charactersBtn,
.locationsBtn {
  padding: 20px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #22a2bd;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.charactersBtn:hover,
.locationsBtn:hover {
  background-color: #2dbdda;
  color: rgb(27, 27, 27);
}

.charactersPage {
  display: none;
}

.charactersPage.show {
  display: block;
}
